<div style="margin-left:350px; font-size:15px">
    <b>Payment Successful!</b><br>
    Name: <b><%= @current_user.name.upcase %></b><br>
    You Paid: $<b><%= @subscription.price %></br>
    <%=link_to("Start creating you events from here",spaces_path) %>
</div>