<% flash.keys.each do |f| %>
  <div class="alert <%= f == "error" ? "alert-danger" : "alert-success" %> alert-dismissable <%= f %>">
    <a class="close" href="#" data-dismiss= "alert">x</a>
    <i class="fa fa-check-circle"></i>
    <strong><%= flash[f] %></strong>
  </div>
<% end %>